body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
    background-color:black;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calculator{
    margin-top: 10%;
    border:2px solid black;
    /* width: 20%; */
    border-radius: 10px;
    padding: 10px;
    background-color: brown;
    /* margin: 3%; */
}
.Numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    padding: 30px;
    border-radius: 30px;
    margin:10px;
    color:black;
    background-color:white;
}
.numRow{
    display: flex;
    padding: 10px;
}
.buttons{
    padding: 20px;
    background-color: black;
    margin: 5px;
    min-width: 20px;
    cursor: pointer;
    text-align: center;
}